<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href='/stylesheets/font-awesome.min.css' />
  </head>
  <body>
    <h1>480Chan - Image Board!</h1>
    <a href="/image-posts"><i class="fa fa-home fa-4x" aria-hidden="true" style="color: black"></i></a>
    {{{body}}}
  </body>
</html>
